<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App 5409</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="box">
        <h1>Welcome to Chat App 5409!</h1>

        {% if username %}

            <h2>Logged in as {{ username }}</h2>
            <h2>Change username:</h2>

        {% else %}

            <h2>Create new user:</h2>

        {% endif %}

        <form method="post">

            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <button type="submit">Submit</button>

        </form>

    </div>

    {% if username %}

        <div class="box">
            <div class="box" id="displaymessages"></div>

            <input type="text" name="message" id="messageinput" placeholder="Type message..." required>
            <button onclick="sendMessage()">Send</button>
        </div>

    {% endif %}




    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                {% for message in messages %}

                    alert(message);

                {% endfor %}
            </script>
        {% endif %}
    {% endwith %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='socket.js') }}"></script>
    
</body>
</html>